name: Beta
on:
  push:
    branches:
      - '14-develop'

jobs:
  build-beta:
    name: Build Beta
    uses: .github/workflows/common.yml
    with:
      type: Beta
      publish-task: uploadBeta
    secrets: inherit