name: Canary
on:
  push:
    branches:
      - '15-develop'

jobs:
  build-canary:
    name: Build Canary
    uses: .github/workflows/common.yml
    with:
      type: Canary
      publish-task: uploadCanary
    secrets: inherit