name: Release
on:
  push:
    tags:
      - '*'

jobs:
  build-release:
    name: Build Release
    uses: .github/workflows/common.yml
    with:
      type: Release
      publish-task: upload
      is-snapshot: false
    secrets: inherit